footer {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .socialMedia {
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                padding: 0 1rem;
                font-size: 2rem;
                &:hover {
                    transform: rotate(30deg);
                    filter: drop-shadow(1px 3px 6px white);
                }
            }
        }
    }
    .sign {
        font-family: "WindSong", cursive;
        font-size: 1.5rem;
        letter-spacing: 3px;
    }
}