//

.carrusel {
    width: 100%;
    @each $carrusel in c1, c2, c3 {
        .carrusel__img--#{$carrusel} {
            background-image: url("../img/#{$carrusel}.jpg");
            @include bgCarrusel();
        }
    }
}

//

.grid {
    height: 100%;
    .grid__galeria {
        display: grid;
        @each $galeriaGrid in i1, i2, i3, i4, i5, i6, i7, i8 {
            .grid__img--#{$galeriaGrid} {
                background-image: url("../img/#{$galeriaGrid}.jpg");
                @include sizeGaleria();
                @include capaDescripcion();
            }
        }
    }
}