//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px,

@media only screen and (min-width: 0px) {
    header {
        .portada {
            .portada__texto {
                p {
                    font-size: 1.7rem;
                }
                .portada__boton {
                    border: 3px double white;
                }
            }
        }
    }
    //
    main {
        padding: 0 1%;
        .titulosSecciones {
            padding-left: 1rem;
        }
        .galeria__grid {
            grid-gap: 5px;
            grid-template-columns: 1fr;
            @each $titulo, $enlace in $galeriaGrid {
                .grid__#{$titulo} {
                    border: 1px dashed darkgrey;
                    height: 600px;
                }
            }
        }
        //
        .carrusel__comentarios {
            display: block;
            height: 100%;
            .carrusel {
                width: 100%;
                height: 100%;
                .carrusel__img {
                    height: 100%;
                }
            }
            .list-group {
                width: 100%;
                height: 100%;
                padding: 1rem 0 0 0;
            }
        }
        //
        .galeria__hover {
            display: block;
        }
    }
    //
    footer {
        .socialMedia {
            padding: 0 1rem 1rem 0;
            li {
                padding: 0 1rem;
                font-size: 2rem;
            }
        }
        .sign {
            font-size: 1rem;
        }
    }
}
//
@media only screen and (min-width: 576px) {
    header {
        .portada {
            .portada__texto {
                p {
                    font-size: 3rem;
                }
                .portada__boton {
                    border: 5px double white;
                }
            }
        }
    }
    //
    main {
        padding: 0 2.5%;
        .galeria__grid {
            grid-gap: 5px;
            grid-template-columns: 1fr;
            @each $titulo, $enlace in $galeriaGrid {
                .grid__#{$titulo} {
                    border: 1px solid white;
                    height: 800px;
                }
            }
        }
        //
        .galeria__hover {
            display: block;
        }
    }
    //
    footer {
        .sign {
            font-size: 1.3rem;
        }
    }
}
//
@media only screen and (min-width: 768px) {
    main {
        padding: 0 5%;
        .galeria__grid {
            grid-gap: 10px;
            grid-template-columns: 1fr 1fr;
            @each $titulo, $enlace in $galeriaGrid {
                .grid__#{$titulo} {
                    height: 650px;
                }
            }
        }
        //
        .galeria__hover {
            display: block;
        }
    }
    //
    footer {
        .sign {
            font-size: 1.5rem;
        }
    }
}
//
@media only screen and (min-width: 992px) {
    main {
        padding: 0 5%;
        .titulosSecciones {
            padding: 0;
        }
        .galeria__grid {
            grid-template-columns: 1fr 1fr 1fr;
            @each $titulo, $enlace in $galeriaGrid {
                .grid__#{$titulo} {
                    height: 600px;
                }
            }
        }
        //
        .galeria__hover {
            display: flex;
        }
    }
}
//
@media only screen and (min-width: 1200px) {
    main {
        padding: 0 7.5%;
        .galeria__grid {
            grid-template-columns: 1fr 1fr 1fr;
            @each $titulo, $enlace in $galeriaGrid {
                .grid__#{$titulo} {
                    height: 650px;
                }
            }
            //
            .galeria__hover {
                display: flex;
            }
        }
    }
    //
    @media only screen and (min-width: 1400px) {
        main {
            padding: 0 10%;
            .galeria__grid {
                grid-template-columns: 1fr 1fr 1fr 1fr;
                @each $titulo, $enlace in $galeriaGrid {
                    .grid__#{$titulo} {
                        height: 700px;
                    }
                }
            }
            //
            .carrusel__comentarios {
                display: flex;
                height: 60vh;
                .carrusel {
                    width: 70%;
                }
                .list-group {
                    width: 30%;
                    padding: 0 0 0 1rem;
                }
            }
            //
            .galeria__hover {
                display: flex;
            }
        }
    }
}
