// Colores

$white: white;
$black: black;
$red: red;
$green: green;
$blue: blue;

// 

$colortext: white;
$fonttext: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//

$bg-img: url("https://www.toptal.com/designers/subtlepatterns/patterns/hotel-wallpaper-black.png");

// 