// FONTS
@import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap");
// font-family: 'Palette Mosaic', cursive;
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Palette+Mosaic&display=swap");
// font-family: "Lobster", cursive;
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
// font-family: 'Shadows Into Light', cursive;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Rampart+One&family=Shadows+Into+Light&family=WindSong:wght@500&display=swap");
// font-family: 'WindSong', cursive;
//**********************************
$bg: #14181c;
//
$gradient: linear-gradient(
        90deg,
        #14181d 0,
        rgba(20, 24, 29, 0.98556487) 0.97%,
        rgba(20, 24, 29, 0.9451312) 2.07833333%,
        rgba(20, 24, 29, 0.88300656) 3.29666667%,
        rgba(20, 24, 29, 0.80349854) 4.60166667%,
        rgba(20, 24, 29, 0.71091472) 5.96666667%,
        rgba(20, 24, 29, 0.60956268) 7.365%,
        rgba(20, 24, 29, 0.50375) 8.77166667%,
        rgba(20, 24, 29, 0.39778426) 10.16%,
        rgba(20, 24, 29, 0.29597303) 11.505%,
        rgba(20, 24, 29, 0.20262391) 12.78%,
        rgba(20, 24, 29, 0.12204446) 13.95833333%,
        rgba(20, 24, 29, 0.05854227) 15.01666667%,
        rgba(20, 24, 29, 0.01642493) 15.92833333%,
        rgba(20, 24, 29, 0) 16.66666667%,
        rgba(20, 24, 29, 0) 83.33333333%,
        rgba(20, 24, 29, 0.01642493) 84.07166667%,
        rgba(20, 24, 29, 0.05854227) 84.98333333%,
        rgba(20, 24, 29, 0.12204446) 86.04166667%,
        rgba(20, 24, 29, 0.20262391) 87.22%,
        rgba(20, 24, 29, 0.29597303) 88.495%,
        rgba(20, 24, 29, 0.39778426) 89.84%,
        rgba(20, 24, 29, 0.50375) 91.22833333%,
        rgba(20, 24, 29, 0.60956268) 92.635%,
        rgba(20, 24, 29, 0.71091472) 94.03333333%,
        rgba(20, 24, 29, 0.80349854) 95.39833333%,
        rgba(20, 24, 29, 0.88300656) 96.70333333%,
        rgba(20, 24, 29, 0.9451312) 97.92166667%,
        rgba(20, 24, 29, 0.98556487) 99.03%,
        #14181d
    ),
    linear-gradient(
        0deg,
        #14181d 0,
        #14181d 21.48148148%,
        rgba(20, 24, 29, 0.98556487) 23.63703704%,
        rgba(20, 24, 29, 0.9451312) 26.1%,
        rgba(20, 24, 29, 0.88300656) 28.80740741%,
        rgba(20, 24, 29, 0.80349854) 31.70740741%,
        rgba(20, 24, 29, 0.71091472) 34.74074074%,
        rgba(20, 24, 29, 0.60956268) 37.84814815%,
        rgba(20, 24, 29, 0.50375) 40.97407407%,
        rgba(20, 24, 29, 0.39778426) 44.05925926%,
        rgba(20, 24, 29, 0.29597303) 47.04814815%,
        rgba(20, 24, 29, 0.20262391) 49.88148148%,
        rgba(20, 24, 29, 0.12204446) 52.5%,
        rgba(20, 24, 29, 0.05854227) 54.85185185%,
        rgba(20, 24, 29, 0.01642493) 56.87777778%,
        rgba(20, 24, 29, 0) 58.51851852%
    );
$imgPortada: "../img/qt.jpeg";
$bgPortada: $gradient, url($imgPortada);
//
@mixin bgImgSettings {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    list-style: none;
    text-decoration: none !important;
}
//
.master {
    width: 100%;
    min-height: 100vh;
    background: $bg;
    overflow: hidden;
    //
    header {
        #navbarNav {
            background: $bg !important;
            h1 {
                font-family: "Palette Mosaic", cursive;
                padding-left: 2rem;
            }
            .dropdown-menu {
                background: $bg;
                a {
                    text-align: center;
                    padding: 10px 0;
                    span {
                        padding: 0 10px;
                    }
                    &:hover {
                        background: $bg !important;
                    }
                }
            }
        }
    }
    //
    main {
        padding: 0 10%;
        .titulosSecciones {
            font-family: "Lobster", cursive;
            letter-spacing: 3px;
            padding: 1rem 0 0 1rem;
        }
        .portada {
            background-image: $bgPortada;
            @include bgImgSettings();
            height: 70vh;
            width: 100%;
            position: relative;
            .portada__texto {
                width: 100%;
                text-align: center;
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                font-family: "Lobster", cursive;
                font-size: 2.5rem;
                letter-spacing: 2px;
            }
        }
        .podcast-1 {
            height: 50vh;
            display: flex;
            .ratio {
                margin: 0 1rem;
            }
        }
        .podcast-2 {
            height: 40vh;
            display: flex;
            .ratio {
                margin: 0 1rem;
            }
        }
        .podcast-3 {
            height: 50vh;
            display: flex;
            .ratio {
                margin: 0 5rem;
            }
        }
    }
    //
    footer {
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .socialMedia {
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                li {
                    padding: 0 1rem;
                    font-size: 2rem;
                    &:hover {
                        transform: rotate(30deg);
                        filter: drop-shadow(1px 3px 6px white);
                    }
                }
            }
        }
        .sign {
            font-family: "WindSong", cursive;
            font-size: 1.5rem;
            letter-spacing: 3px;
        }
    }
}
//
//************************
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px,

@media only screen and (min-width: 0px) {
    main {
        padding: 0 1% !important;
        .portada {
            height: 70vh;
            .portada__texto {
                top: 70%;
                font-size: 1rem !important;
            }
        }
        .podcast-1 {
            height: 100% !important;
            display: block !important;
            .ratio {
                margin: 1rem 0 !important;
            }
        }
        .podcast-2 {
            height: 100% !important;
            display: block !important;
            .ratio {
                margin: 1rem 0 !important;
                height: 40vh !important;
            }
        }
        .podcast-3 {
            height: 100vh !important;
            .ratio {
                margin: 0 !important;
            }
        }
    }
    footer {
        .socialMedia {
            padding: 0 1rem 1rem 0;
            li {
                padding: 0 1rem;
                font-size: 2rem !important;
            }
        }
        .sign {
            font-size: 1rem !important;
        }
    }
}
//
@media only screen and (min-width: 576px) {
    main {
        padding: 0 2.5% !important;
        .portada {
            height: 70vh;
            .portada__texto {
                top: 70%;
                font-size: 1.3rem !important;
            }
        }
        .podcast-1 {
            height: 100% !important;
            display: block !important;
            .ratio {
                margin: 1rem 0 !important;
            }
        }
        .podcast-2 {
            height: 100% !important;
            display: block !important;
            .ratio {
                margin: 1rem 0 !important;
                height: 40vh !important;
            }
        }
        .podcast-3 {
            height: 100vh !important;
            .ratio {
                margin: 0 !important;
            }
        }
    }
    footer {
        .sign {
            font-size: 1.5rem !important;
        }
    }
}
//
@media only screen and (min-width: 768px) {
    main {
        padding: 0 5% !important;
        .portada {
            height: 70vh;
            .portada__texto {
                top: 70%;
                font-size: 1.6rem !important;
            }
        }
        .podcast-1 {
            height: 100% !important;
            display: block !important;
            .ratio {
                margin: 1rem 0 !important;
            }
        }
        .podcast-2 {
            height: 100% !important;
            display: block !important;
            .ratio {
                margin: 1rem 0 !important;
                height: 40vh !important;
            }
        }
        .podcast-3 {
            height: 100vh !important;
            .ratio {
                margin: 0 !important;
            }
        }
    }
}
//
@media only screen and (min-width: 992px) {
    main {
        padding: 0 7.5% !important;
        .portada {
            height: 70vh;
            .portada__texto {
                top: 70%;
                font-size: 2rem !important;
            }
        }
        .podcast-1 {
            height: 100% !important;
            display: block !important;
            .ratio {
                margin: 1rem 0 !important;
            }
        }
        .podcast-2 {
            height: 100% !important;
            display: block !important;
            .ratio {
                margin: 1rem 0 !important;
                height: 40vh !important;
            }
        }
        .podcast-3 {
            height: 100vh !important;
            .ratio {
                margin: 0 !important;
            }
        }
    }
}
//
@media only screen and (min-width: 1200px) {
    main {
        padding: 0 7.5% !important;
        .portada {
            height: 70vh;
            .portada__texto {
                top: 70%;
                font-size: 2.5rem !important;
            }
        }
        .podcast-1 {
            height: 50vh !important;
            display: flex !important;
            .ratio {
                margin: 0 1rem !important;
            }
        }
        .podcast-2 {
            height: 40vh !important;
            display: flex !important;
            .ratio {
                margin: 0 1rem !important;
            }
            .ratio-2 {
                margin-top: 0rem !important;
            }
        }
        .podcast-3 {
            height: 50vh !important;
            .ratio {
                margin: 0 5rem !important;
            }
        }
    }
}
//
@media only screen and (min-width: 1400px) {
    main {
        padding: 0 10% !important;
        .portada {
            height: 70vh;
            .portada__texto {
                top: 70%;
                font-size: 2.5rem;
                letter-spacing: 2px;
            }
        }
        .podcast-1 {
            height: 50vh;
            display: flex;
            .ratio {
                margin: 0 1rem;
            }
        }
        .podcast-2 {
            height: 40vh;
            display: flex;
            .ratio {
                margin: 0 1rem;
            }
        }
        .podcast-3 {
            height: 50vh;
            display: flex;
            .ratio {
                margin: 0 5rem;
            }
        }
    }
}